@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-weight: 400;
}

:root{
  --white: #ffffff;
  --text: #B3B3B3;
  --background: #191919;
  --light-background: #262626;
  --lighter-background: #1c1c1c;
  --primary: #caff33;
  --primary-container: #22251b;
}

body{
  background-color: var(--background);
}

a{
  display: block;
}

.container{
  margin-inline: auto;
  padding-inline: 12px;
  max-width: calc(100% - 150px);
}