@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-weight: 400;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --body-text: #E4E4E7;
  --text: #B3B3B3;
  --background: #191919;
  --light-background: #262626;
  --lighter-background: #1c1c1c;
  --primary: #caff33;
  --primary-container: #22251b;
}

body {
  color: var(--body-text);
  background-color: var(--background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

a {
  display: block;
}

section {
  padding-block: 60px;
}

/* hero */
.abstract_design {
  top: 0;
  left: 0;
  user-select: none;
  position: absolute;
  z-index: -1;
}

.hero_img {
  flex: 1;
}

.hero_content {
  flex: 1;
}

.tabs button:nth-child(2) {
  background-color: transparent !important;
  color: var(--white) !important;
}

/* our products */
.product_card {
  position: relative;
}

.product_card:not(:last-child):before {
  content: '';
  width: 1px;
  right: -40.5px;
  height: 100%;
  position: absolute;
  background-color: var(--light-background);
}

/* use_case_cards */
.use_case_cards {
  background-size: 224px 224px;
  background-repeat: no-repeat;
  background-position: top left;
  background-image: url("./assets/images/common/abstract_design_2.svg");
}

/* testimoonial */
.testimonial-slider {
  position: relative;
}

@media (min-width: 992px) {

  .testimonial-slider:after,
  .testimonial-slider:before {
    top: 0;
    z-index: 2;
    content: '';
    height: 100%;
    width: 40%;
    position: absolute;
    pointer-events: none;
    background-repeat: no-repeat;
  }

  .testimonial-slider:after {
    right: 0;
    background-image: linear-gradient(-90deg, var(--background) 10%, transparent);
  }

  .testimonial-slider:before {
    left: 0;
    background-image: linear-gradient(90deg, var(--background) 10%, transparent);
  }
}

div[class^="swiper-button-"] {
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  border-radius: 50px;
  justify-content: center;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid var(--light-background);
  background-color: var(--lighter-background);
}

div[class^="swiper-button-"]:after {
  content: none;
}

.swiper-button-next {
  rotate: 45deg;
  background-image: url("./assets/images/icons/arrow.svg");
}

.swiper-button-prev {
  rotate: -135deg;
  background-image: url("./assets/images/icons/arrow.svg");
}

/* subscribe */
.subscribe_wrapper{
  background-repeat: no-repeat;
  background-position: top left;
  background-image: url("./assets/images/common/abstract_design_2.svg");
}

.subs_heading h2{
  font-size: clamp(24px,3vw,30px);
}

@media (max-width: 992px) {

  .subs_heading h2{
    font-weight: 500;
  }

  .product_card:not(:last-child):before {
    width: 100%;
    right: 0;
    bottom: -40.5px;
    height: 1px;
  }

}